<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <!--Turn on log printing of Log4j
    which is enabled by default, and it is not necessary to configure-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--Configure the alias of the entity class-->
    <typeAliases>
        <!-- Configure an alias for an entity class
        Mapper represents the corresponding entity class by using the simplified alias-->
        <!-- <typeAlias type="com.bjsxt.pojo.Emp" alias="emp"></typeAlias>-->
        <package name="com.payrollsys.pojo"/><!--By default, the class names of all classes in this package are aliases, which are not case sensitive-->
    </typeAliases>
    <!--Configure the database environment,
    the default value is the value of the id of a certain environment,
    indicating the database environment currently in use-->
    <environments default="mysql">
        <!--Represents a specific database environment, can configure multiple-->
        <environment id="mysql">
            <!--transaction management still uses native JDBC -->
            <transactionManager type="JDBC"></transactionManager>
            <!--Configure database connection parameters and use database connection pool technology-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/payroll?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="rootroot"/>
            </dataSource>
        </environment>
    </environments>
    <!--Configure the path of the Mapper file-->
    <mappers>
       <package name="com.payrollsys.mapper"/>
    </mappers>
</configuration>